body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
  width: 100%;
  height: 120vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #F9DBBB; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */
.navbar {
  width: 100%;
  height: 64px;
  background-color: #2E3840;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  width: 64px;
  height: 60px;
  margin-left: 24px;
}

.user-wellcome {
  color: #F9DBBB;
  font-size: 18px;

}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;

}

.links a,
a:visited {
  margin-right: 24px;
  font-size: 24px;
  text-decoration: none;
  color: #F9DBBB;
  /* color: #EA5455; */
  transition: 0.5s color ease;
}

.links a.active {
  color: #EA5455;
  border-bottom: 1px solid #EA5455;

}

a:hover {
  color: #EA5455;
  transition: 0.5s color ease;

}


/* home */
.home-container {
  position: relative;
}

.home-img {
  background-image: url(/public/assets/book-794978_1920.jpg);
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-title {
  position: absolute;
  top: 0px;
  left: 34px;
  color: #2E3840;
  font-size: 44px;
  text-shadow: 3px -1px 1px #4E6E81;
}

/* forms */
.login {
  background-image: url("/public/assets/books-5937823_1280.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.register {
  background-image: url("/public/assets/books-5937823_1280.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* .create-form {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
} */
.create {
  background-image: url("/public/assets/books-5937823_1280.jpg");
  width: 100%;
  height: 125vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.form {
  position: absolute;
  left: 180px;
  background: #4E6E81;
  max-width: 350px;
  margin: auto;
  padding: 24px 45px;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  /* opacity: 0.9; */
}

.form h2 {
  color: #F9DBBB;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

.summary {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  width: 90%;
  max-width: 99%;
  min-width: 90%;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: rgb(242, 242, 242);
  font-size: 15px;
  text-align: center;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #2E3840;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #F9DBBB;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #F9DBBB;
  color: #2E3840;
}

.message {
  color: #2E3840;
}

.message a {
  color: #EA5455;
  margin-left: 10px;

}

/* footer */
footer {
  width: 100%;
  height: 44px;
  background-color: #2E3840;
  /* border: 4px solid #EA5455; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

a.github {
  color: #F9DBBB;

  font-size: 20px;
  text-decoration: none;
}

.github:hover {
  text-decoration: underline;
  color: #EA5455;

}

/* catalog */
.catalog-wrapper {
  background: rgb(78, 110, 129);
  background: radial-gradient(circle, rgba(78, 110, 129, 1) 0%, rgba(148, 187, 233, 1) 100%);
  /* background: rgb(234,84,85);
  background: radial-gradient(circle, rgba(234,84,85,1) 0%, rgba(78,110,129,1) 100%);  */
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-position: center;

}

.catalog {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog h1 {
  color: #2E3840;
  border-radius: 6px;
  display: inline-block;
  font-size: 42px;
}

.catalog-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 40px;

}

.no-articles {
  color: #EA5455;
  font-size: 42px;
  text-align: center;
  text-shadow: 3px 0px 5px #2E3840
}

.no-articles-img-wrapper {
  background-color: white;
  width: 500px;
  height: 600px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);

}

.no-articles-img {
  max-width: 400px;
  max-height: 500px;
  margin-bottom: 24px;
  border-radius: 6px;
  margin-bottom: 56px;
}



/* book-item */
.book-item {
  display: flex;
  align-items: center;
  background-color: #4E6E81;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 500px;
  border-radius: 6px;


}

.book-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.book-image-wrapper {
  flex: 0 0 200px;
  height: 200px;
  overflow: hidden;
  margin: 12px;
  border-radius: 6px
}

.book-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.book-item:hover .book-image {
  transform: scale(1.05);
}

.book-details {
  padding: 20px;
}

.book-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #F9DBBB;
}

.book-summary {
  font-size: 16px;
  margin-bottom: 20px;
  color: #2E3840;
}

.details-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #EA5455;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.details-button:hover {
  background-color: #F9DBBB;
}

/* notfound */
.notfound {
  background: rgb(78, 116, 129);
  background: radial-gradient(circle, rgba(78, 116, 129, 1) 0%, rgba(233, 148, 148, 1) 100%);
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-img-wrapper {
  position: relative;

}

notfound-text-container {
  position: absolute;
  top: 120px;
  left: 124px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #EA5455;
  text-shadow: 3px -1px 1px #4E6E81;
}

.notfound-img-wrapper h1 {
  position: absolute;
  top: 120px;
  left: 124px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #EA5455;
  text-shadow: 3px -1px 1px #4E6E81;
}

.notfound-img {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 6px -6px 6px grey;
  /* box-shadow: 10px -10px 5px #ffffff;
  -moz-box-shadow: 10px -1px 5px #100f0f;
  -webkit-box-shadow: 10px -10px 7px #374263;
  -khtml-box-shadow: 10px -10px 5px #1b1b41; */
}

/* detail */
.details-book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(78, 110, 129);
  background: radial-gradient(circle, rgba(78, 110, 129, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  height: auto;
}

.details-container {
  background-color: #4E6E81;
  border-radius: 6px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 44px;
  text-align: center;
  padding: 18px 34px;
  width: 550px;
  margin-top: 0;
  margin-bottom: 24px;
}


.details-book-info {
  display: flex;
  gap: 24px;
}

.details-book-info div {
  text-align: left;

}

.details-book-details span {
  color: #EA5455;
}

span.details-summary {
  display: block;
}

p.details-summary {
  padding-right: 50px;
}


.details-book-img-wrapper {
  width: 300px;
  height: auto;
}

.details-book-img {
  max-width: 300px;
  border-radius: 6px;
}

.details-book-info {
  text-align: center;
  width: 600px;
  /* margin-bottom: 24px; */


}

.details-book-info h2 {
  font-size: 32px;
  color: #F9DBBB;
  /* margin-top: 0px; */
}

.details-book-info p {
  font-size: 18px;
  margin: 5px 0;
  color: #F9DBBB;
  /* margin-bottom: 12px; */
  line-height: 1.2;
  font-size: 18px;
}

.details-button.edit,
.details-button.delete {
  border: none;
  /* margin-bottom: 12px; */
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  background: #F9DBBB;
  color: #2E3840;
}

.details-button:hover,
.details-button:active,
.details-button:focus {
  background: #EA5455;
  color: #F9DBBB;
}
/* create comment */
article.create-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.form-comment {
  background-color: #4E6E81;
  border-radius: 6px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
  font-size: 44px;
  text-align: center;
  padding: 18px 34px;
  width: 550px;
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.username-comment {
  width: 50%;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 12px;
  outline: 0;

}

.form-comment textarea {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  outline: 0;
  
}
.comment-button {
  border: none;
  /* margin-bottom: 12px; */
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  background: #F9DBBB;
  color: #2E3840;
  padding: 12px;
  border-radius: 4px;
}
.comment-button:hover,
.comment-button:active,
.comment-button:focus {
  background: #EA5455;
  color: #F9DBBB;
}

.details-comments {
  font-size: 14px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.details-comments h2 {
  color: #2E3840;
  text-align: start;
  margin-bottom: 0px;
}
.details-comments ul {
  text-align: start;
  padding: 0px;
  
}
.comment {
  background-color: whitesmoke;
  border-radius: 4px;
  color: #2E3840;
  padding: 0.5px 12px;
  margin-bottom: 12px;
  list-style: none;
  font-size: 16px;
  width: 300px;
}
